body {
    display: flex;
    font-size: 14px;
    color: #282828;
    font-family: "Open Sans";
}

.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    min-width: 926px;
}

.top {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 82px;
}

.in-target {
    flex: 1 400px 420px;
}