.info {
    width: 400px;
    height: 420px;
    border: 1px solid tomato;
    display: flex;
    flex-direction: column;
}

.mein-title {
    border: 1px solid green;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: "Oswald";
    font-weight: 700;
}

.lit {
    height: 8px;
    border: 1px solid blue;
    margin-top: 19px;
}

.class1 {
    margin-top: 17px;
    height: 19px;
}

.borderclass {
    border: 1px solid khaki;
}

.class2 {
    height: 92px;
    width: 380px;
    height: 131px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #282828;
    font-family: "Open Sans";
    font-weight: 300;
}

.class3 {
    height: 38px;
    margin-top: 32px;
}

.class4 {
    height: 45px;
    margin-top: 13px;
}

.class5 {
    height: 45px;
    margin-top: 10px;
}